.svg-container {
    margin: 10px;
}

#map-svg-container {
    width: min(77vw, 77vh);
    height: min(77vw, 77vh);
}

#time-svg-container {
    width: min(77vw, 77vh);
    height: 20vh;
}

.svg {
    width: 100%;
    height: 100%;
    outline: 1px solid black;
}

.solid-line {
    stroke:solid;
}

.dashed-line {
    stroke-dasharray: 5,5;
}

.heavy-font {
    font: bold 2vh sans-serif;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    font: 15px sans-serif;
    border: 0px;
    border-radius: 8px;	
    pointer-events: none;
}

#map-svg-tooltip {
    background: #756F98;
}

#time-svg-tooltip {
    background: #FFFFFF;
}

.tooltip-image {
    float: left;
    padding: 2px;
}

.tooltip-text {
    float: right;
    text-align: left;
    padding: 2px;
}
